In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
url = 'https://www.skysports.com/league-2-table'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

In [3]:
df = pd.read_html(r.text)[0]

df = df[['Team', 'Pts']]

In [4]:
i = np.arange(1,25,1)
df = df.set_index(i)

df

                  Team  Pts
1              Walsall    6
2      Crewe Alexandra    6
3        Leyton Orient    6
4               Barrow    6
5            Stevenage    6
6        AFC Wimbledon    4
7         Salford City    4
8     Northampton Town    4
9      Carlisle United    4
10    Doncaster Rovers    4
11      Harrogate Town    3
12          Gillingham    3
13      Mansfield Town    3
14   Colchester United    1
15       Bradford City    1
16       Sutton United    1
17  Newport County AFC    1
18        Grimsby Town    1
19        Swindon Town    1
20   Hartlepool United    1
21    Stockport County    0
22            Rochdale    0
23     Tranmere Rovers    0
24        Crawley Town    0

In [5]:
print("Promoted Clubs: ")
print(df['Team'][1])
print(df['Team'][2])
print(df['Team'][3])
print()
print("Promotion Playoff Clubs: ")
print(df['Team'][4])
print(df['Team'][5])
print(df['Team'][6])
print(df['Team'][7])

Promoted Clubs:
Walsall
Crewe Alexandra
Leyton Orient

Promotion Playoff Clubs:
Barrow
Stevenage
AFC Wimbledon
Salford City

In [6]:
print("Relegated Clubs: ")
print(df['Team'][23])
print(df['Team'][24])

Relegated Clubs:
Tranmere Rovers
Crawley Town