In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
url = 'https://www.skysports.com/premier-league-table'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

In [3]:
df = pd.read_html(r.text)[0]

df = df[['Team', 'Pts']]

In [4]:
i = np.arange(1,21,1)
df = df.set_index(i)

df

                        Team  Pts
1                    Arsenal    9
2            Manchester City    7
3               Leeds United    7
4          Tottenham Hotspur    7
5   Brighton and Hove Albion    7
6           Newcastle United    5
7                     Fulham    5
8                  Brentford    4
9             Crystal Palace    4
10         Nottingham Forest    4
11               Southampton    4
12                   Chelsea    4
13               Aston Villa    3
14         Manchester United    3
15               Bournemouth    3
16                 Liverpool    2
17                   Everton    1
18   Wolverhampton Wanderers    1
19            Leicester City    1
20           West Ham United    0

In [5]:
print("Champions League Qualifiers: ")
print(df['Team'][1], '(Champion)')
print(df['Team'][2])
print(df['Team'][3])
print(df['Team'][4])
print()
print("Europa League Qualifiers: ")
print(df['Team'][5])
print(df['Team'][6])
print()
print("Europa Conference League Qualifier: ")
print(df['Team'][7])

Champions League Qualifiers:
Arsenal (Champion)
Manchester City
Leeds United
Tottenham Hotspur

Europa League Qualifiers:
Brighton and Hove Albion
Newcastle United

Europa Conference League Qualifier:
Fulham

In [6]:
print("Relegated Clubs: ")
print(df['Team'][18])
print(df['Team'][19])
print(df['Team'][20])

Relegated Clubs:
Wolverhampton Wanderers
Leicester City
West Ham United